%tr{class: presenter.css_class_for_session(session) }
  %td.date= I18n.l(session.starts_at, format: :short_with_weekday_name, day: session.starts_at.day.ordinalize)
  %td.descriptions
    - if session.title.present?
      .line
        %span.title Description:
        %span= session.title
    - if presenter.show_responsibles?(session)
      .line
        %span.title Responsibles
        - session.responsibles.each do |responsible|
          %span.label.responsible #{responsible.name}

    - if session.has_wiki_pages?
      .line
        %span.title Wiki:
        - session.wiki_pages.each do |page|
          %a.wiki_link{href: wiki_page_url(page), target: '_blank'}
            %span.label.label-info= page
