.row.user_schedule
  .span12
    - if @sessions.any?
      .row
        .span10
          %h2 Training schedule
        - if @presenter.show_edit_link?
          .span2.pull-right{style: "text-align: right;"}
            = link_to "Edit schedule", schedule_admin_training_path(@training)
            %br
            %br
      .row
        .span12
          %table.table.table-bordered.schedule_table
            %thead
              %tr
                %th.date Date
                %th.th-1.th-2.th-3 Topic
            %tbody
              - if @sessions.any?
                - @sessions.each do |session|
                  = render 'session', session: session, presenter: @presenter
    - else
      %h2 Come back on #{I18n.l(@training.starts_at, format: :long_with_weekday_name_summary)}
