- message.subject = t('.subject', starts_at: I18n.l(@session.starts_at, format: :long_with_weekday_name_summary), title: @session.title )

%h3 "#{@session.title.html_safe}"

When: #{I18n.l(@session.starts_at, format: :long_with_weekday_name_summary)}
%br
Who: #{format_user_list(@session.responsibles)}
%br
- if @session.has_wiki_pages?
  Wiki:
  - @session.wiki_pages.each do |page|
    %a{href: wiki_page_url(page)} #{page}
  %br

%br
%br
%a{href: schedule_admin_training_url(@session.training)} Edit schedule
