.modal{:id => "training-edit-#{training.id}", :style => "display: none;"}
  = simple_form_for training, :url => training.persisted? ? admin_training_path(training) : admin_trainings_path, :html => {:method => training.persisted? ? :put : :post, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3= training.persisted? ? "Edit training" : "New training"
    .modal-body
      = f.input :title
      = f.input :starts_at
      = f.input :is_active
    .modal-footer
      = f.submit "Save", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
