%h2 Trainings
.row
  .span12
    %table.table.table-bordered
      %thead
        %tr
          %th ID
          %th Title
          %th Starts at
          %th Active
          %th Last updated
          %th.actions
      %tbody
        - @trainings.each do |training|
          %tr
            %td= training.id
            %td= training.title
            %td= training.starts_at
            %td= training.is_active
            %td= l(training.updated_at)
            %td
              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#training-edit-#{training.id}", :type => "button"} Edit
              %a.btn.btn-mini{href: schedule_admin_training_path(training), type: "button"} Schedule
              %a.btn.btn-mini{href: export_admin_training_path(training, format: :csv), type: "button"} Export
              = render training
        %a.btn{"data-toggle" => "modal", :href => "#training-edit-", :type => "button"} New
        = render Training.new

