%h2.heading Schedule

#schedules

= content_for(:scripts) do
  :coffeescript
    training = new Io.Models.Training(#{@training.to_json.html_safe})
    sessions = #{@sessions.to_json(include: [:responsibles]).html_safe}
    users = #{@users.to_json(include: [:roles])}

    window.router = new Io.Admin.Routers.SchedulesRouter(training: training, sessions: sessions, users: users)

    Backbone.history.start()
