.trainings_list {
  text-align: center;
}

div.training {
  height: 100px;
  line-height: 100px;
}

a.training {
  /*text-shadow: 0px 1px 2px #000000;*/
  font-family:"droid sans";
  font-size: 100px;
  text-align: center;
  color: #666;
}

.trainings {
  .actions {
    width: 150px;
  }
}
