.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);

  font-family:"arial";
  font-size: 13px;

  h2 {
    /*font-family:"oswald";*/
    font-weight: normal;
    font-size: 31px;
    padding: 0px 0px 20px 0px;
    margin: 0px;
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.steps {
  list-style-type: disc;
}

ul.collection-list {
  margin: 0;
  padding: 0;
  outline: none;
}

.fixed {
  position: fixed;
}
