.content {
  .table {
    background: #ffffff;

    th {
      color: #ffffff;
      background: #666666;

      &.day_of_week {
        background: #4d4d4d;
        width: 35px;
      }

      &.date {
        width: 50px;
      }
    }

    tbody {
      .day_of_week {
        font-size: 15px;
        font-color: #fff;
        font-weight: bold;
        text-align: center;
        font-family:"droid sans";
      }

      tr {
        background: #ffffff;

        .day_of_week,
        .date {
          vertical-align:middle;
        }

        &.even {
          .day_of_week {
            color: #ffffff;
            background: #009966;
          }

          &.assigned {
            background: #e5f4ef;
          }
        }

        &.odd {
          .day_of_week {
            background: #ff8800;
            color: #fff;
          }

          &.assigned {
            background: #fef2e5;
          }
        }

        &.drop_hover {
          background: #ababab !important;

        }

        &.selected {
          background: #ababab !important;
        }

        &.free {
          .day_of_week {
            background: #cf4a2c;
          }

          .descriptions {
            background: #f2d1ca;
          }

          .date {
            background: #f2d1ca;
          }
        }

        .descriptions {
          .line:hover {
            .title {
              border: 1px dotted black;
              margin: -1px;
            }
          }

          .line {
            .title {
              /*margin: 1px;*/
            }
          }
        }

        .label-info {
          background-color: #FFFFFF;
          color: #4183C4;
          text-shadow: none;
        }

        .responsibles {
          .responsible {
            margin-right: 4px;
          }

          .remove {
            color: #4d4d4d;
            cursor: pointer;
          }
        }

        .edit_form {
          border-radius: 4px;
          margin-top: 5px;
          background: #fff;

          form {
            margin: 0;
            padding: 10px 0;
          }

          .control-group {
            margin: 2px;

            label {
              width: 50px;
            }

            .controls {
              margin-bottom: 0px;
              margin-left: 57px;

              label {
                width: 100px;
              }

              .input-xlarge {
                width: 500px;
              }

              .input-append input {
                width: 450px;
              }
            }

            &.actions {
              margin-top: 10px;
            }
          }
        } /*edit_form*/
      } /*tr*/

    }
  }

  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }

  .controls {
    margin-bottom: 20px;

    &.fixed {
      /*width: 200px;*/
      border: 1px solid #ddd;
      background: #666666;
      border-radius: 4px;
      /*height: 35px;*/

      button {
        margin: 5px;
      }

    }
  }

  .right_block {
    ul {
      margin: 0px;
      padding: 0px;
      border: 1px solid #ddd;
      padding-bottom: 2px;
      background: #fff;
      width: 170px;
    }

    .header {
      height: 35px;
      background: #666666;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: #fff;
      text-align: center;
      font-weight: bold;
      line-height: 35px;
    }

    li {
      margin: 0;
      padding: 0;
      text-align: center;

      span.label.responsible {
        cursor: pointer;
        background: #009966;

        &.owner {
          background: #cf4a2c;
        }

        &.ui-draggable-dragging {
          cursor: move;
        }
      }
    }
  }
}


