.trainings {
  .user_schedule {
    .date {
      width: 60px;
      text-align: center;
    }

    .assigned {

      .date {
        background-color: rgb(255, 136, 0);
        color: #ffffff;
        font-weight: bold;
      }

      .descriptions {
        background-color: rgba(255, 136, 0, 0.3);
      }
    }

    .today {
      .date {
        background: rgb(2, 148, 199);
        color: #ffffff;
        font-weight: bold;
      }

      .descriptions {
        background: rgba(2, 148, 199, 0.3);
      }
    }
  }
}
