.row
  .span12
    #vhost{data: { username: current_user.username }}
      = content_for(:scripts) do
        :coffeescript
          router = new Io.Routers.ApacheVhostsRouter()
          Backbone.history.start()
