.row
  .span12
    .row
      .span12
        .controls
          %button.js_add_button.btn.btn-primary{:type => "button"} Add
          %button.js_delete_button.btn.btn-danger{:type => "button"} Delete
    .row
      .span10
        %table.table.table-bordered.schedule_table
          %thead
            %tr
              %th.day_of_week
              %th.date Date
              %th.th-1.th-2.th-3 Topic
          %tbody

        .controls
          %button.js_add_button.btn.btn-primary{:type => "button"} Add
          %button.js_delete_button.btn.btn-danger{:type => "button"} Delete

      .span2.right_block.hidden-phone

