%button.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => '.nav-collapse'}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

= link_to "Io", root_path, :class => 'brand'
.nav-collapse
  - if user_signed_in?
    %ul.nav{class: 'pull-right'}
      %li
        = link_to "Logout - #{current_user.name}", signout_path
  %ul.nav
    - if !user_signed_in?
      %li
        = link_to 'Login', signin_path
    - if user_signed_in?
      %li
        = link_to 'Wiki', '/wiki'
      %li
      - if current_user.member_of_staff?
        %li.dropdown
          %a.dropdown-toggle{ data: { toggle: "dropdown" } } Admin
          %ul.dropdown-menu
            - if current_user.can? :manage, User
              %li
                = link_to 'Users', admin_users_path
            - if current_user.can? :manage, Training
              %li
                = link_to 'Trainings', admin_trainings_path
      - if Training.active.any?
        %li
          = link_to 'Schedule', training_schedule_path(Training.active.last)

