!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Io"
    %meta{:content => content_for?(:description) ? yield(:description) : "Io", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = airbrake_javascript_notifier
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/navigation'
    #container.container.content
      = render 'layouts/messages'
      = yield
    %footer
      / ! end of .container
    / ! end of #main
    = javascript_include_tag "application"
    = yield :scripts
